/**login and register**/
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.myBackground {
    width: 100vw;
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #b5eeae;
    background: radial-gradient(circle, #e4e4e4 0%, #87e1de 100%);
    box-sizing: border-box;
    padding: 20px;
}

.whiteBox {
    background-color: #ffffff;
    padding: 40px;
    min-width: 300px;
    width: 60%;
    height: auto;
    max-height: 90vh;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    overflow-y: auto;
}

.itemBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.title {
    font-size: 25px;
    color: #575757;
    font-weight: bold;
}

.myForm,
.myButton {
    width: 80%;
}

.myButton {
    background-color: #2d74b2 !important;
    font-weight: bold;
}

/**task pop up dialog**/
.task-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.form-action {
    display: flex;
    justify-content: center;
}

/**subtask pop up dialog**/
.task-dialog-title {
    font-weight: bold;
    font-size: 30px !important;
    text-align: center !important;
    color: #2d74b2;
    margin-bottom: 20px;
}

task-dialog-titlesmall {
    font-weight: bold;
    font-size: 20px !important;
    text-align: center !important;
    color: #2d74b2 !important;
    margin-bottom: 20px;
}

.task-dialog-content {
    padding: 20px;
    max-width: 400px;
    overflow-y: auto;
}

.task-dialog-actions {
    display: flex;
    justify-content: center !important;
}

.task-dialog-close {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

.task-dialog-cancel:hover {
    background-color: #d32f2f;
}

.task-dialog-desc {
    font-weight: bolder;
}

.task-dialog-desc::before {
    content: "❤️";
    margin-right: 5px;
}

.task-dialog-desc::after {
    content: "❤️";
    margin-left: 5px;
}

.task-dialog-task-subtask {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}

/** tasks **/
.task-container {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.task-page-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.task-box {
    background-color: #f5f5f5;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
}

.no-tasks {
    text-align: center;
    font-size: 20px;
    color: #575757;
}

.task-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.task-row {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.task-check {
    margin-left: 20px;
}

.task-checkbox {
    transform: scale(1.5);
}

.task-title {
    font-size: 20px;
    margin-left: 10px;
    color: #575757;
}

.task-due-date-pending {
    font-weight: bold;
    color: #2d74b2;
}

.task-due-date-completed {
    font-weight: bold;
    color: #74b22d;
}

.task-due-date-overdue {
    font-weight: bold;
    color: #c64532;
}

.task-edit {
    margin-left: 5px;
}

.task-edit .task-edit-button {
    padding: 5px;
}

.task-edit-button:hover {
    background-color: #87b7e1;
}

/** subtasks **/
.task-subtasks {
    margin-top: 20px;
    padding-left: 30px;
    background-color: transparent;
    margin-left: 20px;
}

.subtask-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.subtask-checkbox {
    transform: scale(1.5);
    margin-right: 20px;
}

.subtask-title {
    font-size: 18px;
    margin-left: 10px;
    color: #575757;
}