/**login and register**/
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.myBackground {
    width: 100vw;
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #b5eeae;
    background: radial-gradient(circle, #e4e4e4 0%, #87e1de 100%);
    box-sizing: border-box;
    padding: 20px;
}

.whiteBox {
    background-color: #ffffff;
    padding: 40px;
    min-width: 300px;
    width: 60%;
    height: auto;
    max-height: 90vh;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    overflow-y: auto;
}

.itemBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.title {
    font-size: 25px;
    color: #575757;
    font-weight: bold;
}

.myForm,
.myButton {
    width: 80%;
}

.myButton {
    background-color: #2d74b2 !important;
    font-weight: bold;
}

/** tasks**/
.task-container {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.task-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.task-box {
    background-color: #f5f5f5;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
}

.no-tasks {
    text-align: center;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.task-checkbox {
    transform: scale(2);
}

.task-completed,
.task-pending,
.task-overdue {
    font-size: 20px;
    margin-left: 20px;
    color: #575757;
    display: flex;
    justify-content: left;
    width: 950px;
}

.task-data {
    display: flex;
    width: 100%;
}

.task-due-date-pending,
.task-due-date-overdue,
.task-due-date-completed {
    margin-left: 10px;
}

.task-due-date-pending {
    font-weight: bold;
    color: #2d74b2;
}

.task-due-date-overdue {
    font-weight: bold;
    color: #d93f39;
}

.task-due-date-completed {
    font-weight: bold;
    color: #74b22d;
}

.task-edit {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}


/**pop up dialog**/
.task-dialog-title {
    font-weight: bold;
    font-size: 30px !important;
    text-align: center !important;
    color: #2d74b2;
}

.task-dialog-content {
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.task-dialog-actions {
    display: flex;
    justify-content: center !important;
}

.task-dialog-cancel {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

.task-dialog-cancel:hover {
    background-color: #d32f2f;
}

/**tasks**/
.task-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.form-input {
    margin: 20px 0;
}

.form-action {
    display: flex;
    justify-content: center;
}